S3method(plot,pvar)
S3method(print,pvar)
S3method(print,summary.pvar)
S3method(summary,pvar)
export("%.%")
export(AddPvarC)
export(ChangePoints)
export(pvar)
export(pvarC)
export(rbridge)
export(rcumbin)
export(rwiener)
import(Rcpp)
useDynLib(pvar)
